body {
    background-color: rgb(37, 37, 37);
}


#app {
    min-width: 200px;
    min-height: 200px;
    width: fit-content;
    height: fit-content;
    border: 1px white solid;
    padding: 0px 20px;
    background-color: black;
}


/* #calc-title {
    height: 100%;
    border-width: 0;
    font-family: Helvetica;
    font-weight: 200;
    font-size: 2rem;
}


#battery {
    font-family: monospace;
    color: rgb(61, 195, 84);
    font-weight: bold;
    font-size: 2.5em;
} */


#calc-input {
    height: 60px;
    width: 100%;
    display: flex;
    border-radius: 10px;
    background-color: transparent;
    border-color: transparent;
    font-size: 1.5rem;
    color: white;
    font-family: monospace;
}


#row-2 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    max-width: fit-content;
    padding: 10px 0;
}


#l-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#r-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#num-pad {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.top-row {
    display: flex;
    gap: 10px;
}


.num-row {
    display: flex;
    gap: 10px;
}


.btn {
    height: 80px;
    width: 80px;
    border-width: 0px;
    border-radius: 50%;
    font-family: monospace;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.light {
    background-color: rgb(201, 201, 201);
    color: black;
}


.light:hover {
    transition: 0.2s;
    background-color: rgb(226, 226, 226);
}


.dark {
    background-color: rgb(89, 89, 89);
    color: white;
}


.dark:hover {
    transition: 0.2s;
    background-color: rgb(114, 114, 114);
}


.warning {
    background-color: rgb(255, 196, 0);
    color: white;
}


.warning:hover {
    transition: 0.2s;
    background-color: rgb(255, 212, 72);
}


.bottom-row {
    display: flex;
    justify-content: center;
}


.title {
    font-family: monospace;
    color: rgb(243, 222, 57);
    font-weight: bold;
    font-size: 2.5em;
    letter-spacing: 2px;
}


.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 38px;
    padding: 10px 0;
}


.col {
    
}


#app hr {
    margin-top: 0;
    margin-bottom: 0;
    border-width: 2px;
}